@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#header{
	height: 256px;
}
.hsplit{
	height: 20px;
	width: 100%;
	background-color: #f00;
}
.logo{
	background-color: #f00;
	background-image: url("../img/stefanini_logo.jpg");
	width: 256px;
	height: 256px;
}

.bgheader{
	background-color: #fff;
}

#menu{
	float: left;
	width: 200px;
	height: 2000px;
	background-color: #EDEDED;
	
}
#menu h3{
	margin-top: 20px;
}
#menu ul li a{
	font-size: 14px;
	margin-top: 10px;
	margin-left: 25px;
	
}
#content{
	margin-top: 20px;
	height: 1000px;
	background-color: #fff;
}

#footer{
	height: 100px;
	width: 100%;
	background-color: #00f;
}
